node_modules
.env
public
client.js
key.json


src/client.js
src/service/activity_service.js
src/controller/activity_controller.js
src/validation/activity_validation.js
src/application/database.js
test/activity.test.js
docs/model.md